@use "../_parts/variables" as *;

.about {
  height: $min_page_height;
  background: linear-gradient(
    180deg,
    rgba(5, 69, 105, 1) 29%,
    rgba(85, 145, 169, 1) 82%,
    rgba(3, 0, 53, 1) 100%
  );
  h1 {
    color: $text_color;
    text-align: center;
    padding-bottom: 40px;
  }
  p,
  .tech .tech__header,
  .tech ul {
    color: $text_color;
  }
  .description {
  margin: 70px 0;
  max-width: vw(317, 390);
  width: 100%;
  @media (min-width: $desktop_breakpoint) {
    max-width: 60vw;
    margin: 0 auto;
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
.tech {
  max-width: vw(317, 390);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: $desktop_breakpoint) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 60vw;
    margin: 0 auto;
    div {
      flex: 1 1 30%;
      text-align: center;
    }
  }
  .tech__header {
    padding: 30px 0 10px 0;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
  }
  ul {
    list-style: none;
    font-size: 14px;
  }
}
}
