@use "../_parts/variables" as *;

.experience__header,
.education__header {
  font-size: 30px;
  line-height: 1.4em;
  font-weight: 600;
  display: inline-block;
  opacity: 0;
  animation: slideIn;
  animation-duration: 1s;
  transform: translateY(100%);
  animation-fill-mode: forwards;
}
.experience__text-header {
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 600;
  padding: 20px 0 10px;
}
.experience__text-list {
  list-style-type: "→";
  list-style-position: inside;
  li {
    margin: 5px 0 10px;
    font-size: 14px;
    line-height: 1.4em;
  }
}
.experience {
  display: flex;
  flex-direction: column;
  // margin: auto;
  // padding: 20px;
  flex: 1;
}
.experience__text {
  .experience__text-paragraph {
    font-size: 16px;
    line-height: 1.6em;
  }
}
.timeline-wrapper {
  margin: 50px 0;
  display: flex;
  gap: 20px;
  min-height: 250px;
  flex-direction: column-reverse;
  @media (min-width: $md_breakpoint) {
    flex-direction: row;
  }
  div {
    flex: 1 1 50%;
  }
}
.education {
  .education__text-paragraph {
    font-size: 16px;
    line-height: 1.6em;
  }
}

@media (min-width: $desktop_breakpoint) {
  .experience__header,
  .education__header {
    flex-basis: 100%;
    font-size: 48px;
    line-height: 1.4em;
    margin: 20px 0 30px;
  }
  .experience {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    .experience__text {
      flex-basis: 50%;
      margin: auto;
      .experience__text-header {
        font-size: 24px;
        line-height: 1.6em;
        padding: 20px 0 5px;
      }
      .experience__text-list {
        li {
          margin: 2px 0 8px;
          font-size: 16px;
          line-height: 1.4em;
        }
      }
    }
  }
  .education {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    .education__text {
      flex-basis: 50%;
      margin: auto;
    }
  }
  .timeline-wrapper {
    flex-basis: 50%;
    justify-content: center;
    .timeline {
      max-width: 480px !important;
      .timeline__date {
        font-size: 18px;
      }
    }
    .timeline__details {
      .timeline__title {
        font-size: 24px;
      }
      .timeline__additional {
        font-size: 18px;
        font-weight: 300;
        margin: 0;
      }
      .timeline__company {
        font-size: 18px;
      }
    }
  }
}
