@use "../_parts/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  &.education {
    background: rgb(250, 250, 250);
    background: linear-gradient(
      180deg,
      rgba(250, 250, 250, 1) 13%,
      rgba(85, 145, 169, 1) 59%,
      rgba(3, 0, 53, 1) 100%
    );
  }
  .timeline-wrapper {
    margin: 50px 0;
    display: flex;
    gap: 20px;
    min-height: 250px;
    flex-direction: column-reverse;
    @media (min-width: $md_breakpoint) {
      flex-direction: row;
    }
    div {
      flex: 1 1 50%;
    }
  }
  @media (min-width: $desktop_breakpoint) {
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    h1 {
      flex-basis: 100%;
    }
    .timeline-wrapper {
      flex-basis: 50%;
      justify-content: center;
    }
    .text {
      flex-basis: 50%;
      margin: auto;
    }
  }

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.08px;
    text-align: justify;
  }
}
@media (min-width: $desktop_breakpoint) {
  .wrapper {
    flex-direction: row-reverse;
  }
}
