@use "../_parts/variables" as *;
.projects {
  background-color: $bg_color_second;
  .projects__header {
    color: $text_color_dark;
    font-weight: 800;
    text-align: center;
    margin: 20px 0;
    font-size: 48px;
    animation: slideIn;
    animation: slideIn;
    transform: translateY(100%);
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 0s;
    opacity: 0;
  }
  .projects__subheader {
    font-size: 24px;
    color: $text_color_dark;
    text-align: center;
    font-weight: 500;
    animation: slideIn;
    transform: translateY(100%);
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    opacity: 0;
  }

  .projects__list {
    margin-top: 80px;
    .project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      margin-bottom: 35px;
      .project__img-links {
        max-width: 500px;
        max-height: 500px;
        overflow: hidden;
        margin: 0 auto;
        img {
          width: 100%;
          border-radius: 24px;
          border: 2px solid $bg_color;
          transform: scale(1);
          filter: grayscale(30%);
          transition: transform 0.1s ease-in-out;
        }
        &:hover {
          img {
            transform: scale(1.1);
            filter: grayscale(0%);
          }
        }
      }
      .project__description {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        color: $text_color_dark;
        .project__header {
          font-size: 20px;
          font-style: normal;
        }
        .project__tech {
          font-size: 16px;
          font-style: italic;
        }
        .project__links {
          font-size: 16px;
          color: $text_color_dark;
        }
      }
    }
  }
}

@media (min-width: $desktop_breakpoint) {
  .projects {
    .projects__header {
      font-size: 72px;
      margin: 80px 0 0;
    }
    .projects__subheader {
      font-size: 38px;
      color: $text_color_dark;
      text-align: center;
      font-weight: 500;
    }
    .projects__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .project {
        .project__img-links {
          max-width: 560px;
          max-height: 560px;
        }
        .project__description {
          margin: 0;
        }
      }
    }
  }
}
@media (min-width: $xl_breakpoint) {
  .projects_wrapper {
    .scroll_wrapper {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      .project {
        &:nth-child(odd) {
          margin-top: 0px;
        }
      }
    }
  }
}
