@use "../_parts/variables" as *;
.projects_wrapper {
  background-color: $bg_color_second;
  display: flex;
  display: grid;
  grid-template-columns: 300px 1fr;
  // justify-items: center;

  height: 100lvh;
  overflow: hidden;
  // @media (min-width: $desktop_breakpoint) {
  //   grid-template-columns: repeat(3, minmax(0, 1fr));
  // }

  h1 {
    color: rgb(6, 44, 67);
    font-weight: 800;
    font-size: 38px;
    text-align: center;
    // grid-column: 1 / -1;
    // width: 100%;
    // max-width: none;
    // flex: 1 1 30%;
    // margin-bottom: 40px;
  }
  // flex: 1 1 70%;
  .scroll_wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
  display: none;
}
    scrollbar-width: none;
  @media (min-width: $desktop_breakpoint) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
    .project {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      gap: 20px;
      margin-bottom: 35px;
      .links {
        padding: 0;
        color: inherit;
        font-size: 14px;
      }
      .project__img-wrapper {
        max-width: 400px;
        max-height: 400px;
        overflow: hidden;
        background-color: $details_color;
        img {
          width: 100%;
          padding: 5px;
          transform: scale(1);
          filter:grayscale(30%);
          transition: transform 0.1s ease-in-out;
        }
        &:hover {
          img {
            transform: scale(1.1);
            filter:grayscale(0%);
          }
        }
      }
      .project__description {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: rgb(6, 44, 67);
        // width: 100%;
        .project__header {
          font-size: 20px;
          align-self: flex-start;
        }
        .project__tech {
          justify-content: flex-start;
          font-size: 16px;
          font-style: italic;
        }
      }
      &:nth-child(odd){
        margin-top: 150px;
      }
    }
    
  }
}
