@use "../_parts/variables" as *;

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  position: relative;
  height: 100vh;

  .hero__greeting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    .hero__greeting__header {
      order: 1;
      width: 100%;
      font-size: 32px;
      line-height: 1.15em;
      text-align: left;
      color: $text_color;
      font-weight: 500;
      overflow-y: hidden;
      span {
        display: inline-block;
        opacity: 0;
        animation: slideIn;
        animation-duration: 1s;
        transform: translateY(0);
        animation-fill-mode: forwards;
        &:nth-child(1) {
          animation-delay: 0s;
          transform: translateY(100%);
        }
        &:nth-child(2) {
          animation-delay: 0.15s;
          transform: translateY(200%);
        }
        &:nth-child(3) {
          animation-delay: 0.15s;
          transform: translateY(300%);
        }
        &:nth-child(4) {
          animation-delay: 0.2s;
          transform: translateY(300%);
        }
        &:nth-child(5) {
          animation-delay: 0.4s;
          transform: translateY(300%);
        }
        &:nth-child(6) {
          animation-delay: 0.5s;
          transform: translateY(300%);
        }
        &:nth-child(7) {
          animation-delay: 0.6s;
          transform: translateY(300%);
        }
        &:nth-child(8) {
          animation-delay: 0.7s;
          transform: translateY(300%);
        }
      }
    }

    .hero__greeting__header-text {
      font-size: 16px;
      order: 2;
      line-height: 1.6em;
      text-align: left;
      color: $text_color;
      display: inline-block;
      opacity: 0;
      animation: slideIn;
      animation-duration: 1s;
      transform: translateY(0);
      animation-fill-mode: forwards;
    }
    .hero__greeting__image {
      margin-left: 50%;
      transform: translateX(-50%);
      order: 3;
      position: relative;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-self: center;
      .hero__greeting__image-logo {
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 120px;
        height: 120px;
        background: url("/prof.png");
        background-size: cover;
        border-radius: 50%;
      }
      .hero__greeting__image-text {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotateText 10s linear infinite;
        animation-delay: 2s;
        span {
          color: $text_color;
          position: absolute;
          left: 50%;
          font-size: 18px;
          font-weight: 600;
          transform-origin: 0 100px;
        }
      }
    }
  }

}

@media (min-width: $md_breakpoint) {
  .hero {
    // height: 55vh;
    .hero__greeting {
      .hero__greeting__header-text {
        order: 3;
        align-self: end;
        width: 50%;
        font-size: 20px;
      }
      .hero__greeting__header {
        order: 1;
        font-size: 72px;
      }
      .hero__greeting__image {
        margin-left: 20%;
        order: 2;
      }
    }
  }
}
