@font-face {
  font-family: "Quicksand";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/Quicksand_Complete/Fonts/OTF/Quicksand-Regular.otf");
}
@font-face {
  font-family: "Quicksand-SemiBold";
  src: url("https://cdn.statically.io/gh/GabrielaGodek/Fonts/main/Quicksand_Complete/Fonts/OTF/Quicksand-SemiBold.otf");
}
@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 8.5px;
    transform: rotate(0);
  }
  100% {
    top: 8.5px;
    transform: rotate(45deg);
  }
}
@keyframes top-2 {
  0% {
    top: 8.5px;
    transform: rotate(45deg);
  }
  50% {
    top: 8.5px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}
@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 8.5px;
    transform: rotate(0);
  }
  100% {
    bottom: 8.5px;
    transform: rotate(135deg);
  }
}
@keyframes bottom-2 {
  0% {
    bottom: 8.5px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 8.5px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}
@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #DDD0C8;
  z-index: 998;
}
header .header_wrapper {
  z-index: 99;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #DDD0C8;
  padding: 9px 18px 9px 18px;
}
header .header_wrapper .logo {
  max-width: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_wrapper h1 {
  color: #323232;
  font-size: 23px;
  font-family: "Quicksand-SemiBold";
}
header .header_wrapper .menu_icon {
  position: relative;
  width: 32px;
  height: 18px;
}
@media (min-width: 1000px) {
  header .header_wrapper .menu_icon {
    display: none;
  }
}
header .header_wrapper .menu_icon span {
  display: block;
  width: 100%;
  box-shadow: 0 2px 8.5px 0 rgba(0, 0, 0, 0.3);
  border-radius: 8.5px;
  height: 3px;
  background: #323232;
  transition: all 0.3s;
  position: relative;
}
header .header_wrapper .menu_icon span:nth-child(1) {
  animation: ease 0.3s top-2 forwards;
}
header .header_wrapper .menu_icon span:nth-child(2) {
  animation: ease 0.3s scaled-2 forwards;
  margin: 5.5px 0 5.5px 0;
}
header .header_wrapper .menu_icon span:nth-child(3) {
  animation: ease 0.3s bottom-2 forwards;
}
header nav {
  position: inherit;
  top: 50px;
  right: 0;
  bottom: 0;
  background-color: #323232;
  color: #DDD0C8;
  height: 100%;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
  z-index: 999;
  height: 100vh;
}
header nav.open {
  max-width: 293px;
}
header nav.open + .header_wrapper .menu_icon span:nth-child(1) {
  animation: ease 0.7s top forwards;
}
header nav.open + .header_wrapper .menu_icon span:nth-child(2) {
  animation: ease 0.7s scaled forwards;
}
header nav.open + .header_wrapper .menu_icon span:nth-child(3) {
  animation: ease 0.7s bottom forwards;
}
header nav ul {
  padding: 140px 82px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  list-style: none;
  width: 100%;
}
header nav ul li {
  font-family: "Quicksand";
  font-size: 20px;
  margin: auto 0;
}
header nav ul li a {
  text-decoration: none;
  color: #DDD0C8;
}
header nav ul li a.router-link-active {
  text-decoration: underline;
}
header nav ul li a:visited {
  color: #DDD0C8;
}
@media (min-width: 1000px) {
  header nav {
    top: 0;
    max-width: 50%;
    max-height: 50px;
    background-color: transparent;
    padding: 0 18px 0 0;
  }
  header nav ul {
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
  }
  header nav ul li a {
    z-index: 999;
    color: #323232;
  }
  header nav ul li a:visited {
    color: #323232;
  }
}

.relative_header {
  height: 50px;
  padding: 0;
  margin: 0;
}

footer {
  max-height: 134px;
  height: 100%;
  background-color: #DDD0C8;
  position: relative;
}
@media (min-width: 1000px) {
  footer {
    max-height: 50px;
  }
}
footer .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px 0 18px;
}
footer .wrapper .contact_icon {
  display: flex;
  width: 74px;
  height: 76px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 10px;
  flex-shrink: 0;
  flex-wrap: wrap;
}
@media (min-width: 1000px) {
  footer .wrapper .contact_icon {
    flex-direction: row;
    align-items: center;
    max-width: 268px;
    width: 100%;
    height: unset;
  }
}
footer .wrapper .signature {
  font-size: 19px;
  text-align: right;
  font-family: "Quicksand";
}
footer .wrapper .signature .d_hide {
  display: block;
  max-height: 0;
}
@media (min-width: 1000px) {
  footer .wrapper .signature .d_hide {
    display: none;
  }
}

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #DDD0C8;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #323232;
  outline: 1px solid #323232;
  border-radius: 5px;
}

#app {
  height: 100vh;
  padding: 0;
}

section {
  min-height: 50vh;
  padding: 0 18px;
}

main {
  height: auto;
}
@media (min-width: 1000px) {
  main {
    padding-bottom: 138px;
  }
}

h2,
p,
div {
  font-family: "Quicksand";
  font-size: 20px;
  color: #323232;
  text-align: justify;
}

p {
  padding: 10px 0;
}

.main_wrapper,
.first_view,
.second_view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.first_view {
  gap: 64px;
  margin: 49px 0px;
}
.first_view .avatar {
  justify-content: flex-end;
}

.second_view {
  gap: 20px;
}
.second_view .avatar {
  justify-content: flex-end;
  transform: scaleX(-1);
}

.avatar {
  display: flex;
  width: 100%;
  height: 60px;
}
.avatar img {
  width: 60px;
}

h2 {
  font-size: 34px;
  align-self: flex-start;
}

p {
  text-align: left;
}

.buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding-bottom: 60px;
}
.buttons a {
  display: block;
  min-width: 132px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #323232;
  font-size: 16px;
  padding: 5px 20px;
  background-color: #323232;
  color: #DDD0C8;
}
.buttons a:hover {
  color: #323232;
  background-color: #DDD0C8;
  border-color: #323232;
}

.description {
  margin: 70px 0;
  max-width: 81.2820512821vw;
  width: 100%;
}

.tech {
  max-width: 81.2820512821vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 1000px) {
  .tech {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .tech div {
    flex: 1 1 20%;
  }
  .tech div.daily {
    text-align: left;
  }
  .tech div.additional {
    text-align: center;
  }
  .tech div.tools {
    text-align: right;
  }
}
.tech h3 {
  padding: 30px 0 10px 0;
}
.tech ul {
  list-style: none;
  font-size: 16px;
}

.experience_wrapper,
.education_wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.experience_wrapper .timeline_wrapper,
.education_wrapper .timeline_wrapper {
  margin: 50px 0;
  display: flex;
  gap: 20px;
  min-height: 250px;
  flex-direction: column-reverse;
}
@media (min-width: 800px) {
  .experience_wrapper .timeline_wrapper,
  .education_wrapper .timeline_wrapper {
    flex-direction: row;
  }
}
.experience_wrapper .timeline_wrapper div,
.education_wrapper .timeline_wrapper div {
  flex: 1 1 50%;
}
@media (min-width: 1000px) {
  .experience_wrapper,
  .education_wrapper {
    padding: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .experience_wrapper h1,
  .education_wrapper h1 {
    flex-basis: 100%;
  }
  .experience_wrapper .timeline_wrapper,
  .education_wrapper .timeline_wrapper {
    flex-basis: 50%;
  }
  .experience_wrapper .text,
  .education_wrapper .text {
    flex-basis: 50%;
    margin: auto;
  }
}

@media (min-width: 1000px) {
  .experience_wrapper {
    flex-direction: row-reverse;
  }
}
.project_wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
}
@media (min-width: 1000px) {
  .project_wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.project_wrapper h1 {
  grid-column: 1/-1;
  width: 100%;
  max-width: none;
}
.project_wrapper .project {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.project_wrapper .project .img_wrapper {
  width: 300px;
  height: 300px;
}
.project_wrapper .project .img_wrapper img {
  width: 100%;
}
.project_wrapper .project .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project_wrapper .project .description h2 {
  font-size: 24px;
}
.project_wrapper .project .description .links {
  padding: 0;
  color: inherit;
}
.project_wrapper .project .description .links img {
  fill: #323232;
  max-width: 20px;
}

/*# sourceMappingURL=style.css.map */
