@use 'variables' as *;

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $bg_color;
  flex-grow: 1;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: $details_color;
  outline: 1px solid $details_color;
  border-radius: 5px;
}
strong {
  font-size: 600;
}
main.main_wrapper {
  padding: 50px 23px 20px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
}


p,
div {
  font-weight: 300;
  font-size: 18px;
  color: $text_color;
  text-align: justify;
}
p {
  padding: 10px 0;
}
