@use "variables" as *;

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $bg_color;
  flex-grow: 1;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: $text_color;
  outline: 1px solid $text_color;
  border-radius: 5px;
}
main {
  min-height: $min_page_height;
  display: flex;
  flex-direction: column;
 
}
strong {
  font-family: "Alexandria", sans-serif;
  font-weight: 600;
}
section {
  padding: 0 20px;
  @media (min-width: $desktop_breakpoint){
    padding: 0 80px;
  }
}

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
  font-family: "Alexandria", sans-serif;
}

p,
div {
  color: $text_color;
  text-align: justify;
}

