@use "_variables" as *;

footer {
  padding-top: 200px;
  .contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    .contact__header {
      font-style: normal;
      font-size: 56px;
      color: $text_color;
      font-weight: 600;
      line-height: 0.92em;
    }
    .contact__text {
      font-size: 14px;
      text-align: center;
      color: $text_color;
    }
    .contact__icons {
      border-top: 2px solid #f4e7d426;
      padding: 40px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
@media (min-width: $desktop_breakpoint) {
  footer {
    .contact {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      align-items: end; 
      gap: 96px;
      .contact__header {
        font-size: 88px;
        line-height: 0.92em;
        flex-basis: calc(50% - 48px);
      }
      .contact__text {
        font-size: 20px;
        line-height: 1.6em;
        flex-basis: 450px;
        text-align: right;
        margin-right: 0;
      }
      .contact__icons {
        flex-basis: 100%;
      }
    }
  }
}
