@use "../_parts/variables" as *;
.timeline {
    position: relative;
    width: 80vw;
    max-width: 360px;
    margin: 0 auto;
    .line {
        left: 110px;
        transform: translate(-50%, 0);
        position: absolute;
        height: 100%;
        width: 15px;
        background-color: $details_color;
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: -20px;
            transform: translate(-50%, 0);
            left: 50%;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 12.5px 25px 12.5px;
            border-color: transparent transparent $details_color transparent;
        }
        
    }
    .event {
        left: 110px;
        transform: translate(-50%, 0);
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: $bg_color;
        border: 6px solid $details_color;
        border-radius: 50%;
        &:after {
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translate(0, -50%);
        }
        &:before {
            position: absolute;
            right: 30px;
        }
        &:nth-of-type(3){
            bottom: 50px;
        }
        &:nth-of-type(2){
            top: 50px;
        }
    }
    .date{
        position: absolute;
        font-size: 16px;
        // transform: translate(50%, -50%);
        &:nth-of-type(1) {
            top: 40px;
            left: 20px;
        }
        &:nth-of-type(2) {
            bottom: 40px;
            left: 20px;
        }
    }
    .details{
        position: absolute;
        text-align: left;
        p {
            font-size: 16px;
            text-align: left;
            padding: 0;
        }
        .company {
            font-size: 13px;
        }
        .additional {
            font-style: italic;
        }
        &:nth-of-type(1) {
            top: 40px;
            left: 140px;
        }
        &:nth-of-type(2) {
            bottom: 40px;
            left: 140px;
        }
    }
    @media (min-width: $md_breakpoint) {
        // .line {
        //     // left: 50%;
        //     // transform: translate(-50%, 0);
        //     // &:after{
        //     //     transform: translate(-50%, 0);
        //     //     left: 50%;
        //     // }
        // }
        // .event {
        //     // left: 50%;
        //     // transform: translate(-50%, 0);
        // }
    }
}