$desktop_breakpoint: 1000px;
$xs_breakpoint: 435px;
$md_breakpoint: 800px;


$bg_color: #AAAAAA;
$header_color: #AAAAAA;
$details_color: #343837;

$text_color: #141414;

$header_height: 50px;
$footer_height: 132px;

$d_footer_height: 50px;
$footer_color: #AAAAAA;

$menu_color: #343837;

$header_padding: 18px;

$open_menu_width: 293px;

// @font-face {
//     font-family: 'Montserrat';
//     src: url('../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
//     font-display: swap;
// }
// @font-face {
//     font-family: 'OpenSans';
//     src: url('../assets/fonts/OpenSans/OpenSans-Light.ttf')format('truetype');
    
// }

@function vw($w, $h) {
    $vw: calc($h / ($w / 100)) * 1vw; 
    @return $vw;
}